 WITH acute_risk AS (
         SELECT COALESCE(a.country_code, g.country_code) AS country_code,
            COALESCE(a.country_name, g.country_name) AS country_name,
            GREATEST(COALESCE(a.severity_norm, 0::numeric), COALESCE(g.severity_norm, 0::numeric)) AS acute_risk_score,
            COALESCE(a.incidents, 0::bigint) + COALESCE(g.incidents, 0::bigint) AS total_incidents,
            COALESCE(a.fatalities, 0::bigint) AS fatalities
           FROM mv_security_country_acled a
             FULL JOIN mv_security_country_gdelt g ON a.country_code::text = g.country_code::text
        )
 SELECT COALESCE(ar.country_code, sr.country_code) AS country_code,
    COALESCE(ar.country_name, sr.country_name) AS country_name,
    ar.acute_risk_score,
    sr.structural_risk_score,
    COALESCE(ar.acute_risk_score, 0::numeric) * 0.65 + COALESCE(sr.structural_risk_score, 0::numeric) * 0.35 AS total_risk_score,
    ar.total_incidents,
    ar.fatalities,
    sr.indicators_count,
        CASE
            WHEN (COALESCE(ar.acute_risk_score, 0::numeric) * 0.65 + COALESCE(sr.structural_risk_score, 0::numeric) * 0.35) >= 80::numeric THEN 'Critical'::text
            WHEN (COALESCE(ar.acute_risk_score, 0::numeric) * 0.65 + COALESCE(sr.structural_risk_score, 0::numeric) * 0.35) >= 60::numeric THEN 'High'::text
            WHEN (COALESCE(ar.acute_risk_score, 0::numeric) * 0.65 + COALESCE(sr.structural_risk_score, 0::numeric) * 0.35) >= 40::numeric THEN 'Elevated'::text
            WHEN (COALESCE(ar.acute_risk_score, 0::numeric) * 0.65 + COALESCE(sr.structural_risk_score, 0::numeric) * 0.35) >= 20::numeric THEN 'Moderate'::text
            ELSE 'Low'::text
        END AS risk_level,
    CURRENT_TIMESTAMP AS as_of_date
   FROM acute_risk ar
     FULL JOIN mv_security_country_structural sr ON ar.country_code::text = sr.country_code::text;
